<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <title>Tasker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/login_page.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">
        <!-- Toolbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light list-inline">
            <div class="container-fluid">
                <div style="float: left;">
                    <a class="navbar-brand" href="#" style="color: #6d7fcc">Bem-vindo</a>
                </div>
                <div style="float: right; padding-top: 8px;">
                    <label style="padding-right: 10px;" for="sidebarCollapse">Não possui cadastro? </label>
                    <button type="button" id="sidebarCollapse" class="btn btn-info" data-toggle="modal"
                        data-target="#registerModal">Cadastre-se</button>
                </div>
            </div>
        </nav>
        <!-- Toolbar -->

        <!-- Alerta -->
        <% if(success != '') { %>
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            Cadastro realizado com <strong>sucesso!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <% } %>
        <!-- Alerta -->

        <!-- exemplo para utilizar dps: https://bootsnipp.com/snippets/DV3m4 -->

        <main class="login-form">
            <div class="cotainer" style="margin-top: 150px;">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">Login</div>
                            <div class="card-body">
                                <form class="form-horizontal" action="/user/auth" method="POST" id="form_login">
                                    <div class="form-group row">
                                        <label for="username"
                                            class="col-md-4 col-form-label text-md-right">Usuário</label>
                                        <div class="col-md-6">
                                            <input type="text" id="username" class="form-control" name="username"
                                                required autofocus>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="password"
                                            class="col-md-4 col-form-label text-md-right">Password</label>
                                        <div class="col-md-6">
                                            <input type="password" id="password" class="form-control" name="password"
                                                required>
                                        </div>
                                    </div>

                                    <div class="col-md-6 offset-md-4">
                                        <button type="submit" class="btn btn-primary">
                                            Acessar
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- Modal -->
        <div class="modal fade" id="registerModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Cadastro</h3>
                        <span class="close" data-dismiss="modal" style="color: red;">&times;</span>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" action="/user/save" method="POST" id="form_login">
                            <div class="form-group">
                                <label class="col-form-label col-sm-2" for="nome">Usuário:</label>
                                <div class="col-xs-12">
                                    <input name="username" id="username" class="form-control" type="text">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-form-label col-sm-2" for="email">E-mail:</label>
                                <div class="col-xs-12">
                                    <input name="email" id="email" class="form-control" type="text">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-form-label col-sm-2" for="password">Senha:</label>
                                <div class="col-xs-12">
                                    <input name="password" id="password" class="form-control" type="password">
                                </div>
                            </div>

                            <div class="modal-footer">
                                <input type="submit" value="Concluir" class="btn btn-info cadastrarBtn">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->

        <!-- Footer -->
        <footer class="page-footer bg-light list-inline" style="position: absolute; bottom: 0; width: 100%;">
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2019 Copyright:
                <a href="#">Rebecca Rodrigues</a> e
                <a href="#">Marcos Paulo Campos</a>
            </div>

        </footer>
    </div>


</body>

</html>